pipeline/parquet.json
{
	"name": "parquet",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('DROP TABLE IF EXISTS ', pipeline().parameters.FileName_P)}",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ParquetFile_Source",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName_P",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_Dest_FileName",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.FileName_P",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Read",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "read",
					"value": {
						"value": "@string(activity('Copy data1').output.rowsread)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Write_Copied",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "write",
					"value": {
						"value": "@string(activity('Copy data1').output.rowsCopied)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Duration",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Duration",
					"value": {
						"value": "@string(activity('Copy data1').output.copyDuration)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileName_P": {
				"type": "string",
				"defaultValue": "userdata1.parquet"
			}
		},
		"variables": {
			"read": {
				"type": "String"
			},
			"write": {
				"type": "String"
			},
			"Duration": {
				"type": "String",
				"defaultValue": "10"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-03-10T13:41:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}